# VNCServer dependencies

# standard set of extensions
git /extensions/VNCServer        https://github.com/OpenEngineDK/extensions-VNCServer.git

git-dev /extensions/VNCServer    git@github.com:OpenEngineDK/extensions-VNCServer.git

